# Rust
target/
Cargo.lock

# Bazel
bazel-*

# C++
anise-cpp/build_local/
test_time

# Python
.venv/
__pycache__/
*.pyc
anise-py/dist/
anise-py/build/
anise-py/anise.egg-info/
anise-py/anise/_anise.*

# Misc
.DS_Store
.vscode/
*.swp
*.lka
cspice
