[package]
name = "anise"
version = "0.1.0"
edition = "2021"
authors = ["Christopher Rabotin <christopher.rabotin@gmail.com>"]
description = "ANISE provides a toolkit and files for Attitude, Navigation, Instrument, Spacecraft, and Ephemeris data. It's a modern replacement of NAIF SPICE file."
homepage = "https://github.com/anise-toolkit/"
documentation = "https://docs.rs/anise/"
repository = "https://github.com/anise-toolkit/anise.rs"
keywords = ["attitude", "navigation", "instrument", "spacecraft", "ephemeris"]
categories = ["science", "simulation"]
readme = "README.md"
license = "MPL-2.0"
exclude = ["cspice"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
hifitime = "3.8"
memmap2 = "0.9.0"
crc32fast = "1.3.0"
der = { version = "0.7.8", features = ["derive", "alloc", "real"] }
clap = { version = "3.1", features = ["derive"] }
thiserror = "1.0"
log = "0.4"
pretty_env_logger = "0.5"
tabled = "0.14"
const_format = "0.2"
nalgebra = "0.32"
approx = "0.5.1"
zerocopy = { version = "0.7.3", features = ["derive"] }
bytes = "1.4.0"
snafu = { version = "0.7.4", features = ["backtrace"] }
lexical-core = "0.8.5"
heapless = "0.8.0"
rstest = "0.18.2"

[dev-dependencies]
rust-spice = "0.7.4"
parquet = "47.0.0"
arrow = "49.0.0"
criterion = "0.5"
iai = "0.1"
polars = { version = "0.34", features = ["lazy", "parquet"] }
rayon = "1.7"

[features]
default = ["spkezr_validation"]
# Enabling this flag significantly reduces compilation times due to Arrow and Polars.
spkezr_validation = []

[profile.bench]
debug = true

[[bench]]
name = "iai_jpl_ephemerides"
harness = false

[[bench]]
name = "crit_jpl_ephemerides"
harness = false

[[bench]]
name = "iai_spacecraft_ephemeris"
harness = false
