[workspace]
resolver = "2"
members = ["anise", "anise-cli", "anise-gui", "anise-py"]

[workspace.package]
version = "0.1.0"
edition = "2021"
authors = ["Christopher Rabotin <christopher.rabotin@gmail.com>"]
description = "ANISE provides a toolkit and files for Attitude, Navigation, Instrument, Spacecraft, and Ephemeris data. It's a modern replacement of NAIF SPICE file."
homepage = "https://github.com/anise-toolkit/"
documentation = "https://docs.rs/anise/"
repository = "https://github.com/anise-toolkit/anise.rs"
keywords = ["attitude", "navigation", "instrument", "spacecraft", "ephemeris"]
categories = ["science", "simulation"]
readme = "README.md"
license = "MPL-2.0"
exclude = [
    "cspice*",
    "data",
    "analysis",
    ".vscode",
    ".github",
    ".venv",
    ".vscode",
    "*.sh",
]

[workspace.dependencies]
hifitime = { version = "3.8.6", default-features = true, features = ["python"] }
memmap2 = "=0.9.3"
crc32fast = "=1.3.2"
der = { version = "0.7.8", features = ["derive", "alloc", "real"] }
log = "=0.4"
pretty_env_logger = "=0.5"
tabled = "=0.15"
const_format = "0.2"
nalgebra = "0.32"
approx = "=0.5.1"
zerocopy = { version = "0.7.26", features = ["derive"] }
bytes = "=1.5.0"
snafu = { version = "0.7.5", features = ["backtrace"] }
lexical-core = "0.8.5"
heapless = "0.8.0"
rstest = "0.18.2"
pyo3 = "0.20.0"
pyo3-log = "0.9.0"

anise = { version = "0.1.0", path = "anise", default-features = false }

[profile.bench]
debug = true

[profile.release]
codegen-units = 1
lto = "thin"
