[package]
name = "anise"
version = "0.1.0"
edition = "2021"
authors = ["Christopher Rabotin <christopher.rabotin@gmail.com>"]
description = "ANISE provides a toolkit and files for Attitude, Navigation, Instrument, Spacecraft, and Ephemeris data. It's a modern replacement of NAIF SPICE file."
homepage = "https://github.com/anise-toolkit/"
documentation = "https://docs.rs/anise/"
repository = "https://github.com/anise-toolkit/anise.rs"
keywords = ["attitude","navigation","instrument", "spacecraft", "ephemeris"]
categories = ["science", "simulation"]
readme = "README.md"
license = "MPL-2.0"
exclude = ["cspice"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
hifitime = {version = "3.8.0", features = ["asn1der"]}
memmap2 = "0.5.8"
crc32fast = "1.3.0"
der = {version = "0.6.0", features = ["derive", "alloc", "real"]}
clap = {version = "3.1", features = ["derive"]}
thiserror = "1.0"
log = "0.4"
pretty_env_logger = "0.4"
tabled = "0.10"
const_format = "0.2"
nalgebra = "0.31"
approx = "0.5.1"
zerocopy = "0.6.1"
bytes = "1.3.0"
snafu = "0.7.4"
lexical-core = "0.8.5"

[dev-dependencies]
rust-spice = "0.7.4"
parquet = "30.0.1"
arrow = "30.0.1"
criterion = "0.3"
iai = "0.1"
polars = {version = "0.26.1", features = ["lazy", "parquet"]}
rayon = "1.6.1"

[features]
default = ["std", "validation"]
std = []
validation = [] # Enabling this flag significantly reduces compilation times due to Arrow and Polars.

[profile.bench]
debug = true

[[bench]]
name = "iai_jpl_ephemerides"
harness = false

[[bench]]
name = "crit_jpl_ephemerides"
harness = false

[[bench]]
name = "iai_spacecraft_ephemeris"
harness = false
