[package]
name = "anise-gui"
version = { workspace = true }
authors = { workspace = true }
edition = { workspace = true }
homepage = { workspace = true }
license = { workspace = true }
repository = { workspace = true }
description = "A graphical user interface for ANISE"

[dependencies]
anise = { workspace = true }
hifitime = { workspace = true }
log = { workspace = true }
bytes = { workspace = true }
pretty_env_logger = { workspace = true }
egui-toast = "0.12.1"
eframe = { version = "0.25.0" }
egui = { version = "0.25.0" }
egui_extras = { version = "0.25.0", features = ["datepicker", "http", "image"] }
rfd = { version = "0.13.0" }

[target.'cfg(target_arch = "wasm32")'.dependencies]
wasm-bindgen-futures = "0.4"
poll-promise = { version = "0.3.0", features = ["web"] }
